<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label">
    <!--Added to override the z-index property of the top navigation bar. It is done to prevent any user action
    when the popup is shown-->
    <style type="text/css">
        .opd-header-wrapper {
            z-index: 10000 !important;
        }

        p {
            text-align: left;
        }
    </style>
    <div class="dialog-button-group">
        <h3>
            <p style="color:rgb(247, 43, 7); text-align:center">Treatment Code Not Verified!</p>
        </h3>
    </div>
    <span class="ngdialog-end"></span>
</div>


